.rectangleAU
{
background-color:#000000;
height:40%;
width:50%;
filter:drop-shadow(0px 0px 4px rgb(33, 144, 218));
border:2% solid #6dc5ff;
position: absolute;
left: 10%;
top:19%;
display: flex;
}

.mov-imgLogo {
  max-width: 5.8%; /* Asegura que la imagen no sea más ancha que su contenedor */
  position:absolute;/* Mantiene la proporción de la imagen */
  top: 1px;
  right: 90%;
}

.rectangle594
{
background-color:#000000;
height:20%;
width:10%;
left:89.91%;
top:20%;
position:absolute;
}

.group8002
{
transform:rotate(0.1deg);
width:250px;
height:104px;
left:0px;
top:98px;
position:absolute;
}

.rectangle59
{
background-color:#000000;
height:20%;
width:5%;
left:0%;
top:60%;
position:absolute;
border: #6dc5ff;
}

.rectangle593
{
background-color:#000000;
height:20%;
width:5%;
top:80%;
position: fixed;
}

.group800
{
  height:30%;
  width:20%;
  left:79.8%;
  top:70%;
  position:absolute;
}

